.editor {
  outline: none;
  padding: 10px 30px;
  line-height: 1.7 !important;
  color: black;
  max-height: 300px;
  overflow-y: scroll;
}

.editor a {
  cursor: pointer;
  color: rgba(0,0,0,0.6);
  text-decoration: underline;
}

.createBit {
  text-align: center;
  border-radius: 50%;
  background-color: #02b875;
  border: 0;
  color: #fff;
  box-shadow: 0 1px rgba(0,0,0,0.3);
  line-height: 2px;
  cursor: pointer;
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  bottom: 30px;
  height: 40px;
  width: 40px;
  z-index: 1000;
  font-size: 1.33333333em;
}

.createBit:hover {
  background-color: #029f65;
}

.bitForm {
  background-color: #fff;
  height: auto;
  min-width: 500px;
  min-height: 300px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 2px;
  transform: translateX(-50%);
  left: 50%;
  position: fixed;
  bottom: 150px;
}
