.editor {
  outline: none;
  padding: 40px 30px;
  line-height: 1.7 !important;
  color: black;
  max-height: 300px;
  overflow-y: scroll;
}

.editor a {
  cursor: pointer;
  color: rgba(0,0,0,0.6);
  text-decoration: underline;
}

.bitForm {
  background-color: #fff;
  height: auto;
  min-width: 500px;
  min-height: 300px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 2px;
  transform: translateX(-50%);
  left: 50%;
  position: fixed;
  bottom: 150px;
  z-index: 3;
}

.formOverlay {
  background-size: 100% 100%;
  z-index: 2;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0,0,0,0.7);
}
