.newBit {
  border-radius: 50%;
  background-color: #02b875;
  border: 0;
  color: #fff;
  box-shadow: 0 1px rgba(0,0,0,0.3);
  line-height: 2px;
  cursor: pointer;
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  bottom: 30px;
  height: 40px;
  width: 40px;
  z-index: 1000;
  font-size: 1.33333333em;
  text-align: center;
}

.newBit:hover {
  background-color: #029f65;
}
